=begin
#Secure API

#Secure API

The version of the OpenAPI document: 2.3

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class SecureAutopayEnrollmentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # This API is used for Autopay Enrollment.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param auto_pay_enrollment_request [AutoPayEnrollmentRequest] Autopay Enrollment Detail
    # @param [Hash] opts the optional parameters
    # @return [AutoPayEnrollmentResponse]
    def secure_autopayenrollment_post(x_api_key, x_app_key, x_version, origin, auto_pay_enrollment_request, opts = {})
      data, _status_code, _headers = secure_autopayenrollment_post_with_http_info(x_api_key, x_app_key, x_version, origin, auto_pay_enrollment_request, opts)
      data
    end

    # This API is used for Autopay Enrollment.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param auto_pay_enrollment_request [AutoPayEnrollmentRequest] Autopay Enrollment Detail
    # @param [Hash] opts the optional parameters
    # @return [Array<(AutoPayEnrollmentResponse, Integer, Hash)>] AutoPayEnrollmentResponse data, response status code and response headers
    def secure_autopayenrollment_post_with_http_info(x_api_key, x_app_key, x_version, origin, auto_pay_enrollment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureAutopayEnrollmentApi.secure_autopayenrollment_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureAutopayEnrollmentApi.secure_autopayenrollment_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureAutopayEnrollmentApi.secure_autopayenrollment_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureAutopayEnrollmentApi.secure_autopayenrollment_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureAutopayEnrollmentApi.secure_autopayenrollment_post"
      end
      # verify the required parameter 'auto_pay_enrollment_request' is set
      if @api_client.config.client_side_validation && auto_pay_enrollment_request.nil?
        fail ArgumentError, "Missing the required parameter 'auto_pay_enrollment_request' when calling SecureAutopayEnrollmentApi.secure_autopayenrollment_post"
      end
      # resource path
      local_var_path = '/secure/autopayenrollment'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(auto_pay_enrollment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AutoPayEnrollmentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureAutopayEnrollmentApi.secure_autopayenrollment_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureAutopayEnrollmentApi#secure_autopayenrollment_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
