=begin
#Secure API

#Secure API

The version of the OpenAPI document: 2.3

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class SecurePaymentLinksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # This API is used for getting Payment Links by PaymentLink ID
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_payment_link_request [SecurePaymentLinkRequest] Secure Payment Link Request
    # @param [Hash] opts the optional parameters
    # @return [PaymentLinkResponse]
    def secure_paymentlinks_details_post(x_api_key, x_app_key, x_version, origin, secure_payment_link_request, opts = {})
      data, _status_code, _headers = secure_paymentlinks_details_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_payment_link_request, opts)
      data
    end

    # This API is used for getting Payment Links by PaymentLink ID
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_payment_link_request [SecurePaymentLinkRequest] Secure Payment Link Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentLinkResponse, Integer, Hash)>] PaymentLinkResponse data, response status code and response headers
    def secure_paymentlinks_details_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_payment_link_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurePaymentLinksApi.secure_paymentlinks_details_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecurePaymentLinksApi.secure_paymentlinks_details_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecurePaymentLinksApi.secure_paymentlinks_details_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecurePaymentLinksApi.secure_paymentlinks_details_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecurePaymentLinksApi.secure_paymentlinks_details_post"
      end
      # verify the required parameter 'secure_payment_link_request' is set
      if @api_client.config.client_side_validation && secure_payment_link_request.nil?
        fail ArgumentError, "Missing the required parameter 'secure_payment_link_request' when calling SecurePaymentLinksApi.secure_paymentlinks_details_post"
      end
      # resource path
      local_var_path = '/secure/paymentlinks/details'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(secure_payment_link_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentLinkResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-api-key', 'x-app-key']

      new_options = opts.merge(
        :operation => :"SecurePaymentLinksApi.secure_paymentlinks_details_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurePaymentLinksApi#secure_paymentlinks_details_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API is used for to set expired payment link
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [SecurePaymentLinkRequest] :secure_payment_link_request Secure Payment Link Request
    # @return [PaymentLinkExpiresResponse]
    def secure_paymentlinks_expirations_post(x_api_key, x_app_key, x_version, origin, opts = {})
      data, _status_code, _headers = secure_paymentlinks_expirations_post_with_http_info(x_api_key, x_app_key, x_version, origin, opts)
      data
    end

    # This API is used for to set expired payment link
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [SecurePaymentLinkRequest] :secure_payment_link_request Secure Payment Link Request
    # @return [Array<(PaymentLinkExpiresResponse, Integer, Hash)>] PaymentLinkExpiresResponse data, response status code and response headers
    def secure_paymentlinks_expirations_post_with_http_info(x_api_key, x_app_key, x_version, origin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurePaymentLinksApi.secure_paymentlinks_expirations_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecurePaymentLinksApi.secure_paymentlinks_expirations_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecurePaymentLinksApi.secure_paymentlinks_expirations_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecurePaymentLinksApi.secure_paymentlinks_expirations_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecurePaymentLinksApi.secure_paymentlinks_expirations_post"
      end
      # resource path
      local_var_path = '/secure/paymentlinks/expirations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'secure_payment_link_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentLinkExpiresResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-api-key', 'x-app-key']

      new_options = opts.merge(
        :operation => :"SecurePaymentLinksApi.secure_paymentlinks_expirations_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurePaymentLinksApi#secure_paymentlinks_expirations_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API is used to update Payment Links
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param id [String] PaymentLink identifier
    # @param secure_update_payment_link_request [SecureUpdatePaymentLinkRequest] Payment Link Request
    # @param [Hash] opts the optional parameters
    # @return [PaymentLinkResponse]
    def secure_paymentlinks_id_put(x_api_key, x_app_key, x_version, origin, id, secure_update_payment_link_request, opts = {})
      data, _status_code, _headers = secure_paymentlinks_id_put_with_http_info(x_api_key, x_app_key, x_version, origin, id, secure_update_payment_link_request, opts)
      data
    end

    # This API is used to update Payment Links
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param id [String] PaymentLink identifier
    # @param secure_update_payment_link_request [SecureUpdatePaymentLinkRequest] Payment Link Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentLinkResponse, Integer, Hash)>] PaymentLinkResponse data, response status code and response headers
    def secure_paymentlinks_id_put_with_http_info(x_api_key, x_app_key, x_version, origin, id, secure_update_payment_link_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurePaymentLinksApi.secure_paymentlinks_id_put ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecurePaymentLinksApi.secure_paymentlinks_id_put"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecurePaymentLinksApi.secure_paymentlinks_id_put"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecurePaymentLinksApi.secure_paymentlinks_id_put"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecurePaymentLinksApi.secure_paymentlinks_id_put"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SecurePaymentLinksApi.secure_paymentlinks_id_put"
      end
      # verify the required parameter 'secure_update_payment_link_request' is set
      if @api_client.config.client_side_validation && secure_update_payment_link_request.nil?
        fail ArgumentError, "Missing the required parameter 'secure_update_payment_link_request' when calling SecurePaymentLinksApi.secure_paymentlinks_id_put"
      end
      # resource path
      local_var_path = '/secure/paymentlinks/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(secure_update_payment_link_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentLinkResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-api-key', 'x-app-key']

      new_options = opts.merge(
        :operation => :"SecurePaymentLinksApi.secure_paymentlinks_id_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurePaymentLinksApi#secure_paymentlinks_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API is used to create Payment Links
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param payment_link_request [PaymentLinkRequest] Payment Link Request
    # @param [Hash] opts the optional parameters
    # @return [PaymentLinkResponse]
    def secure_paymentlinks_post(x_api_key, x_app_key, x_version, origin, payment_link_request, opts = {})
      data, _status_code, _headers = secure_paymentlinks_post_with_http_info(x_api_key, x_app_key, x_version, origin, payment_link_request, opts)
      data
    end

    # This API is used to create Payment Links
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param payment_link_request [PaymentLinkRequest] Payment Link Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentLinkResponse, Integer, Hash)>] PaymentLinkResponse data, response status code and response headers
    def secure_paymentlinks_post_with_http_info(x_api_key, x_app_key, x_version, origin, payment_link_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurePaymentLinksApi.secure_paymentlinks_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecurePaymentLinksApi.secure_paymentlinks_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecurePaymentLinksApi.secure_paymentlinks_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecurePaymentLinksApi.secure_paymentlinks_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecurePaymentLinksApi.secure_paymentlinks_post"
      end
      # verify the required parameter 'payment_link_request' is set
      if @api_client.config.client_side_validation && payment_link_request.nil?
        fail ArgumentError, "Missing the required parameter 'payment_link_request' when calling SecurePaymentLinksApi.secure_paymentlinks_post"
      end
      # resource path
      local_var_path = '/secure/paymentlinks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_link_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentLinkResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-api-key', 'x-app-key']

      new_options = opts.merge(
        :operation => :"SecurePaymentLinksApi.secure_paymentlinks_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurePaymentLinksApi#secure_paymentlinks_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
