=begin
#Secure API

#Secure API

The version of the OpenAPI document: 2.3

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class SecureEmbeddedPremiumFinanceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # This API is will update the policy number
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [PFPolicyUpdateRequestDTO] :pf_policy_update_request_dto Signature Request details
    # @return [PFPolicyUpdateResponse]
    def secure_epf_merchants_quotes_policy_put(x_api_key, x_app_key, x_version, origin, opts = {})
      data, _status_code, _headers = secure_epf_merchants_quotes_policy_put_with_http_info(x_api_key, x_app_key, x_version, origin, opts)
      data
    end

    # This API is will update the policy number
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [PFPolicyUpdateRequestDTO] :pf_policy_update_request_dto Signature Request details
    # @return [Array<(PFPolicyUpdateResponse, Integer, Hash)>] PFPolicyUpdateResponse data, response status code and response headers
    def secure_epf_merchants_quotes_policy_put_with_http_info(x_api_key, x_app_key, x_version, origin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureEmbeddedPremiumFinanceApi.secure_epf_merchants_quotes_policy_put ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_merchants_quotes_policy_put"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_merchants_quotes_policy_put"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_merchants_quotes_policy_put"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_merchants_quotes_policy_put"
      end
      # resource path
      local_var_path = '/secure/epf/merchants/quotes/policy'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'pf_policy_update_request_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'PFPolicyUpdateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureEmbeddedPremiumFinanceApi.secure_epf_merchants_quotes_policy_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureEmbeddedPremiumFinanceApi#secure_epf_merchants_quotes_policy_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API will update PFA to book a quote.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param pf_quote_booking_request [PFQuoteBookingRequest] PFQuoteBooking Request details
    # @param [Hash] opts the optional parameters
    # @return [PFUpdatePFAResponse]
    def secure_epf_quotes_booking_put(x_api_key, x_app_key, x_version, origin, pf_quote_booking_request, opts = {})
      data, _status_code, _headers = secure_epf_quotes_booking_put_with_http_info(x_api_key, x_app_key, x_version, origin, pf_quote_booking_request, opts)
      data
    end

    # This API will update PFA to book a quote.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param pf_quote_booking_request [PFQuoteBookingRequest] PFQuoteBooking Request details
    # @param [Hash] opts the optional parameters
    # @return [Array<(PFUpdatePFAResponse, Integer, Hash)>] PFUpdatePFAResponse data, response status code and response headers
    def secure_epf_quotes_booking_put_with_http_info(x_api_key, x_app_key, x_version, origin, pf_quote_booking_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_booking_put ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_booking_put"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_booking_put"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_booking_put"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_booking_put"
      end
      # verify the required parameter 'pf_quote_booking_request' is set
      if @api_client.config.client_side_validation && pf_quote_booking_request.nil?
        fail ArgumentError, "Missing the required parameter 'pf_quote_booking_request' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_booking_put"
      end
      # resource path
      local_var_path = '/secure/epf/quotes/booking'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(pf_quote_booking_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PFUpdatePFAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_booking_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureEmbeddedPremiumFinanceApi#secure_epf_quotes_booking_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API will eSign the pfa with insured name.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [PFQuoteEsignRequest] :pf_quote_esign_request PFQuote Request
    # @return [nil]
    def secure_epf_quotes_captureesign_put(x_api_key, x_app_key, x_version, origin, opts = {})
      secure_epf_quotes_captureesign_put_with_http_info(x_api_key, x_app_key, x_version, origin, opts)
      nil
    end

    # This API will eSign the pfa with insured name.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [PFQuoteEsignRequest] :pf_quote_esign_request PFQuote Request
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def secure_epf_quotes_captureesign_put_with_http_info(x_api_key, x_app_key, x_version, origin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_captureesign_put ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_captureesign_put"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_captureesign_put"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_captureesign_put"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_captureesign_put"
      end
      # resource path
      local_var_path = '/secure/epf/quotes/captureesign'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'pf_quote_esign_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_captureesign_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureEmbeddedPremiumFinanceApi#secure_epf_quotes_captureesign_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API is used to Generate Quotes
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [QuoteRequest] :quote_request Quote Request
    # @return [Array<PFGenerateQuoteResponse>]
    def secure_epf_quotes_generate_post(x_api_key, x_app_key, x_version, origin, opts = {})
      data, _status_code, _headers = secure_epf_quotes_generate_post_with_http_info(x_api_key, x_app_key, x_version, origin, opts)
      data
    end

    # This API is used to Generate Quotes
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [QuoteRequest] :quote_request Quote Request
    # @return [Array<(Array<PFGenerateQuoteResponse>, Integer, Hash)>] Array<PFGenerateQuoteResponse> data, response status code and response headers
    def secure_epf_quotes_generate_post_with_http_info(x_api_key, x_app_key, x_version, origin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_generate_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_generate_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_generate_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_generate_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_generate_post"
      end
      # resource path
      local_var_path = '/secure/epf/quotes/generate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'quote_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PFGenerateQuoteResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_generate_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureEmbeddedPremiumFinanceApi#secure_epf_quotes_generate_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API will return quotes created againsts a payment intent.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [GetQuoteRequest] :get_quote_request Signature Request details
    # @return [Array<QuoteResponse>]
    def secure_epf_quotes_intent_post(x_api_key, x_app_key, x_version, origin, opts = {})
      data, _status_code, _headers = secure_epf_quotes_intent_post_with_http_info(x_api_key, x_app_key, x_version, origin, opts)
      data
    end

    # This API will return quotes created againsts a payment intent.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [GetQuoteRequest] :get_quote_request Signature Request details
    # @return [Array<(Array<QuoteResponse>, Integer, Hash)>] Array<QuoteResponse> data, response status code and response headers
    def secure_epf_quotes_intent_post_with_http_info(x_api_key, x_app_key, x_version, origin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_intent_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_intent_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_intent_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_intent_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_intent_post"
      end
      # resource path
      local_var_path = '/secure/epf/quotes/intent'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'get_quote_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<QuoteResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_intent_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureEmbeddedPremiumFinanceApi#secure_epf_quotes_intent_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API will return quote by QuoteKey.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [GetQuoteKeyRequest] :get_quote_key_request Signature Request details
    # @return [QuoteResponse]
    def secure_epf_quotes_post(x_api_key, x_app_key, x_version, origin, opts = {})
      data, _status_code, _headers = secure_epf_quotes_post_with_http_info(x_api_key, x_app_key, x_version, origin, opts)
      data
    end

    # This API will return quote by QuoteKey.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [GetQuoteKeyRequest] :get_quote_key_request Signature Request details
    # @return [Array<(QuoteResponse, Integer, Hash)>] QuoteResponse data, response status code and response headers
    def secure_epf_quotes_post_with_http_info(x_api_key, x_app_key, x_version, origin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_post"
      end
      # resource path
      local_var_path = '/secure/epf/quotes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'get_quote_key_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'QuoteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureEmbeddedPremiumFinanceApi.secure_epf_quotes_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureEmbeddedPremiumFinanceApi#secure_epf_quotes_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API will return PFA for given quoteKey.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [PFRetrievePFARequestDTO] :pf_retrieve_pfa_request_dto PFRetrieve PFA Request
    # @return [String]
    def secure_epf_retrievepfa_post(x_api_key, x_app_key, x_version, origin, opts = {})
      data, _status_code, _headers = secure_epf_retrievepfa_post_with_http_info(x_api_key, x_app_key, x_version, origin, opts)
      data
    end

    # This API will return PFA for given quoteKey.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [PFRetrievePFARequestDTO] :pf_retrieve_pfa_request_dto PFRetrieve PFA Request
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def secure_epf_retrievepfa_post_with_http_info(x_api_key, x_app_key, x_version, origin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureEmbeddedPremiumFinanceApi.secure_epf_retrievepfa_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_retrievepfa_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_retrievepfa_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_retrievepfa_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureEmbeddedPremiumFinanceApi.secure_epf_retrievepfa_post"
      end
      # resource path
      local_var_path = '/secure/epf/retrievepfa'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'pf_retrieve_pfa_request_dto'])

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureEmbeddedPremiumFinanceApi.secure_epf_retrievepfa_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureEmbeddedPremiumFinanceApi#secure_epf_retrievepfa_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
