=begin
#Secure API

#Secure API

The version of the OpenAPI document: 2.3

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class SecureOutboundPaymentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # This API gets outbound payment timelines
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param payment_time_line_request_dto [PaymentTimeLineRequestDto] PaymentTimeLineRequestDto
    # @param [Hash] opts the optional parameters
    # @return [Array<OutboundPaymentTimelineResponseDTOInner>]
    def vendorapi_secure_outbound_payments_timelines_post(x_api_key, x_app_key, x_version, origin, payment_time_line_request_dto, opts = {})
      data, _status_code, _headers = vendorapi_secure_outbound_payments_timelines_post_with_http_info(x_api_key, x_app_key, x_version, origin, payment_time_line_request_dto, opts)
      data
    end

    # This API gets outbound payment timelines
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param payment_time_line_request_dto [PaymentTimeLineRequestDto] PaymentTimeLineRequestDto
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<OutboundPaymentTimelineResponseDTOInner>, Integer, Hash)>] Array<OutboundPaymentTimelineResponseDTOInner> data, response status code and response headers
    def vendorapi_secure_outbound_payments_timelines_post_with_http_info(x_api_key, x_app_key, x_version, origin, payment_time_line_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureOutboundPaymentsApi.vendorapi_secure_outbound_payments_timelines_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureOutboundPaymentsApi.vendorapi_secure_outbound_payments_timelines_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureOutboundPaymentsApi.vendorapi_secure_outbound_payments_timelines_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureOutboundPaymentsApi.vendorapi_secure_outbound_payments_timelines_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureOutboundPaymentsApi.vendorapi_secure_outbound_payments_timelines_post"
      end
      # verify the required parameter 'payment_time_line_request_dto' is set
      if @api_client.config.client_side_validation && payment_time_line_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'payment_time_line_request_dto' when calling SecureOutboundPaymentsApi.vendorapi_secure_outbound_payments_timelines_post"
      end
      # resource path
      local_var_path = '/vendorapi/secure/outboundPayments/timelines'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_time_line_request_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<OutboundPaymentTimelineResponseDTOInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureOutboundPaymentsApi.vendorapi_secure_outbound_payments_timelines_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureOutboundPaymentsApi#vendorapi_secure_outbound_payments_timelines_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API cancel outbound payment request
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param cancel_payment_request_dto [CancelPaymentRequestDTO] CancelPaymentRequestDTO
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def vendorapi_secure_outboundpayments_cancel_post(x_api_key, x_app_key, x_version, origin, cancel_payment_request_dto, opts = {})
      vendorapi_secure_outboundpayments_cancel_post_with_http_info(x_api_key, x_app_key, x_version, origin, cancel_payment_request_dto, opts)
      nil
    end

    # This API cancel outbound payment request
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param cancel_payment_request_dto [CancelPaymentRequestDTO] CancelPaymentRequestDTO
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def vendorapi_secure_outboundpayments_cancel_post_with_http_info(x_api_key, x_app_key, x_version, origin, cancel_payment_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_cancel_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_cancel_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_cancel_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_cancel_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_cancel_post"
      end
      # verify the required parameter 'cancel_payment_request_dto' is set
      if @api_client.config.client_side_validation && cancel_payment_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'cancel_payment_request_dto' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_cancel_post"
      end
      # resource path
      local_var_path = '/vendorapi/secure/outboundpayments/cancel'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(cancel_payment_request_dto)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_cancel_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureOutboundPaymentsApi#vendorapi_secure_outboundpayments_cancel_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API fetch outbound payment by paymentId
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param payment_request_detail_dto [PaymentRequestDetailDTO] PaymentRequestDetailDTO
    # @param [Hash] opts the optional parameters
    # @return [PaymentDetailResponseDTO]
    def vendorapi_secure_outboundpayments_detail_post(x_api_key, x_app_key, x_version, origin, payment_request_detail_dto, opts = {})
      data, _status_code, _headers = vendorapi_secure_outboundpayments_detail_post_with_http_info(x_api_key, x_app_key, x_version, origin, payment_request_detail_dto, opts)
      data
    end

    # This API fetch outbound payment by paymentId
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param payment_request_detail_dto [PaymentRequestDetailDTO] PaymentRequestDetailDTO
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentDetailResponseDTO, Integer, Hash)>] PaymentDetailResponseDTO data, response status code and response headers
    def vendorapi_secure_outboundpayments_detail_post_with_http_info(x_api_key, x_app_key, x_version, origin, payment_request_detail_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_detail_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_detail_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_detail_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_detail_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_detail_post"
      end
      # verify the required parameter 'payment_request_detail_dto' is set
      if @api_client.config.client_side_validation && payment_request_detail_dto.nil?
        fail ArgumentError, "Missing the required parameter 'payment_request_detail_dto' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_detail_post"
      end
      # resource path
      local_var_path = '/vendorapi/secure/outboundpayments/detail'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_request_detail_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentDetailResponseDTO'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_detail_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureOutboundPaymentsApi#vendorapi_secure_outboundpayments_detail_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API gets outbound payment JPG image in Base64 string format
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param payment_time_line_request_dto [PaymentTimeLineRequestDto] OutboundPaymentImageRequestDto
    # @param [Hash] opts the optional parameters
    # @return [OutboundPaymentImageResponseDTO]
    def vendorapi_secure_outboundpayments_image_post(x_api_key, x_app_key, x_version, origin, payment_time_line_request_dto, opts = {})
      data, _status_code, _headers = vendorapi_secure_outboundpayments_image_post_with_http_info(x_api_key, x_app_key, x_version, origin, payment_time_line_request_dto, opts)
      data
    end

    # This API gets outbound payment JPG image in Base64 string format
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param payment_time_line_request_dto [PaymentTimeLineRequestDto] OutboundPaymentImageRequestDto
    # @param [Hash] opts the optional parameters
    # @return [Array<(OutboundPaymentImageResponseDTO, Integer, Hash)>] OutboundPaymentImageResponseDTO data, response status code and response headers
    def vendorapi_secure_outboundpayments_image_post_with_http_info(x_api_key, x_app_key, x_version, origin, payment_time_line_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_image_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_image_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_image_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_image_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_image_post"
      end
      # verify the required parameter 'payment_time_line_request_dto' is set
      if @api_client.config.client_side_validation && payment_time_line_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'payment_time_line_request_dto' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_image_post"
      end
      # resource path
      local_var_path = '/vendorapi/secure/outboundpayments/image'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_time_line_request_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'OutboundPaymentImageResponseDTO'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_image_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureOutboundPaymentsApi#vendorapi_secure_outboundpayments_image_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API creates outbound payment request
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param payment_request_dto [PaymentRequestDto] PaymentRequestDto
    # @param [Hash] opts the optional parameters
    # @return [PaymentResponseDto]
    def vendorapi_secure_outboundpayments_post(x_api_key, x_app_key, x_version, origin, payment_request_dto, opts = {})
      data, _status_code, _headers = vendorapi_secure_outboundpayments_post_with_http_info(x_api_key, x_app_key, x_version, origin, payment_request_dto, opts)
      data
    end

    # This API creates outbound payment request
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param payment_request_dto [PaymentRequestDto] PaymentRequestDto
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentResponseDto, Integer, Hash)>] PaymentResponseDto data, response status code and response headers
    def vendorapi_secure_outboundpayments_post_with_http_info(x_api_key, x_app_key, x_version, origin, payment_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_post"
      end
      # verify the required parameter 'payment_request_dto' is set
      if @api_client.config.client_side_validation && payment_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'payment_request_dto' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_post"
      end
      # resource path
      local_var_path = '/vendorapi/secure/outboundpayments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_request_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentResponseDto'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureOutboundPaymentsApi#vendorapi_secure_outboundpayments_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API gets all outbound payment
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [String] :vendor_id sets vendorId
    # @option opts [String] :payment_based_id sets paymentBasedId
    # @option opts [String] :payment_id sets paymentId
    # @option opts [String] :vendor_name sets vendorName
    # @option opts [String] :payment_method_type sets paymentMethodType
    # @option opts [String] :payment_method_status sets paymentMethodStatus
    # @option opts [Float] :amount sets amount
    # @option opts [Float] :from_amount sets fromAmount
    # @option opts [Float] :to_amount sets toAmount
    # @option opts [String] :start_date sets startDate
    # @option opts [String] :end_date sets endDate
    # @option opts [String] :search_text sets searchText
    # @option opts [Integer] :start_row sets startRow
    # @option opts [Integer] :page_size sets pageSize
    # @option opts [String] :sort_field sets sortField
    # @option opts [Boolean] :asc Set Asc
    # @return [PagePaymentListResponseDTO]
    def vendorapi_secure_outboundpayments_search_post(x_api_key, x_app_key, x_version, origin, opts = {})
      data, _status_code, _headers = vendorapi_secure_outboundpayments_search_post_with_http_info(x_api_key, x_app_key, x_version, origin, opts)
      data
    end

    # This API gets all outbound payment
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [String] :vendor_id sets vendorId
    # @option opts [String] :payment_based_id sets paymentBasedId
    # @option opts [String] :payment_id sets paymentId
    # @option opts [String] :vendor_name sets vendorName
    # @option opts [String] :payment_method_type sets paymentMethodType
    # @option opts [String] :payment_method_status sets paymentMethodStatus
    # @option opts [Float] :amount sets amount
    # @option opts [Float] :from_amount sets fromAmount
    # @option opts [Float] :to_amount sets toAmount
    # @option opts [String] :start_date sets startDate
    # @option opts [String] :end_date sets endDate
    # @option opts [String] :search_text sets searchText
    # @option opts [Integer] :start_row sets startRow
    # @option opts [Integer] :page_size sets pageSize
    # @option opts [String] :sort_field sets sortField
    # @option opts [Boolean] :asc Set Asc
    # @return [Array<(PagePaymentListResponseDTO, Integer, Hash)>] PagePaymentListResponseDTO data, response status code and response headers
    def vendorapi_secure_outboundpayments_search_post_with_http_info(x_api_key, x_app_key, x_version, origin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_search_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_search_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_search_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_search_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_search_post"
      end
      allowable_values = ["Check"]
      if @api_client.config.client_side_validation && opts[:'payment_method_type'] && !allowable_values.include?(opts[:'payment_method_type'])
        fail ArgumentError, "invalid value for \"payment_method_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/vendorapi/secure/outboundpayments/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'vendorId'] = opts[:'vendor_id'] if !opts[:'vendor_id'].nil?
      query_params[:'paymentBasedId'] = opts[:'payment_based_id'] if !opts[:'payment_based_id'].nil?
      query_params[:'paymentId'] = opts[:'payment_id'] if !opts[:'payment_id'].nil?
      query_params[:'vendorName'] = opts[:'vendor_name'] if !opts[:'vendor_name'].nil?
      query_params[:'paymentMethodType'] = opts[:'payment_method_type'] if !opts[:'payment_method_type'].nil?
      query_params[:'paymentMethodStatus'] = opts[:'payment_method_status'] if !opts[:'payment_method_status'].nil?
      query_params[:'amount'] = opts[:'amount'] if !opts[:'amount'].nil?
      query_params[:'fromAmount'] = opts[:'from_amount'] if !opts[:'from_amount'].nil?
      query_params[:'toAmount'] = opts[:'to_amount'] if !opts[:'to_amount'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'searchText'] = opts[:'search_text'] if !opts[:'search_text'].nil?
      query_params[:'startRow'] = opts[:'start_row'] if !opts[:'start_row'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'asc'] = opts[:'asc'] if !opts[:'asc'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PagePaymentListResponseDTO'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureOutboundPaymentsApi.vendorapi_secure_outboundpayments_search_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureOutboundPaymentsApi#vendorapi_secure_outboundpayments_search_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
