=begin
#Secure API

#Secure API

The version of the OpenAPI document: 2.3

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class SecureVendorManagementApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # This API deletes vendor into system
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_vendor_status_request_dto [SecureVendorStatusRequestDTO] SecureVendorStatusRequestDTO
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def vendorapi_secure_merchants_vendors_delete_post(x_api_key, x_app_key, x_version, origin, secure_vendor_status_request_dto, opts = {})
      vendorapi_secure_merchants_vendors_delete_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_vendor_status_request_dto, opts)
      nil
    end

    # This API deletes vendor into system
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_vendor_status_request_dto [SecureVendorStatusRequestDTO] SecureVendorStatusRequestDTO
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def vendorapi_secure_merchants_vendors_delete_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_vendor_status_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureVendorManagementApi.vendorapi_secure_merchants_vendors_delete_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_delete_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_delete_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_delete_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_delete_post"
      end
      # verify the required parameter 'secure_vendor_status_request_dto' is set
      if @api_client.config.client_side_validation && secure_vendor_status_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'secure_vendor_status_request_dto' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_delete_post"
      end
      # resource path
      local_var_path = '/vendorapi/secure/merchants/vendors/delete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(secure_vendor_status_request_dto)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureVendorManagementApi.vendorapi_secure_merchants_vendors_delete_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureVendorManagementApi#vendorapi_secure_merchants_vendors_delete_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API gets details of particular vendor
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_vendor_request_dto [SecureVendorRequestDTO] SecureVendorRequestDTO
    # @param [Hash] opts the optional parameters
    # @return [VendorResponseDTO]
    def vendorapi_secure_merchants_vendors_details_post(x_api_key, x_app_key, x_version, origin, secure_vendor_request_dto, opts = {})
      data, _status_code, _headers = vendorapi_secure_merchants_vendors_details_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_vendor_request_dto, opts)
      data
    end

    # This API gets details of particular vendor
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_vendor_request_dto [SecureVendorRequestDTO] SecureVendorRequestDTO
    # @param [Hash] opts the optional parameters
    # @return [Array<(VendorResponseDTO, Integer, Hash)>] VendorResponseDTO data, response status code and response headers
    def vendorapi_secure_merchants_vendors_details_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_vendor_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureVendorManagementApi.vendorapi_secure_merchants_vendors_details_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_details_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_details_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_details_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_details_post"
      end
      # verify the required parameter 'secure_vendor_request_dto' is set
      if @api_client.config.client_side_validation && secure_vendor_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'secure_vendor_request_dto' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_details_post"
      end
      # resource path
      local_var_path = '/vendorapi/secure/merchants/vendors/details'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(secure_vendor_request_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'VendorResponseDTO'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureVendorManagementApi.vendorapi_secure_merchants_vendors_details_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureVendorManagementApi#vendorapi_secure_merchants_vendors_details_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API Updates the existing vendor
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_vendor_update_request_dto [SecureVendorUpdateRequestDTO] SecureVendorUpdateRequestDTO
    # @param [Hash] opts the optional parameters
    # @return [SecureVendorResponseDTO]
    def vendorapi_secure_merchants_vendors_edit_post(x_api_key, x_app_key, x_version, origin, secure_vendor_update_request_dto, opts = {})
      data, _status_code, _headers = vendorapi_secure_merchants_vendors_edit_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_vendor_update_request_dto, opts)
      data
    end

    # This API Updates the existing vendor
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_vendor_update_request_dto [SecureVendorUpdateRequestDTO] SecureVendorUpdateRequestDTO
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecureVendorResponseDTO, Integer, Hash)>] SecureVendorResponseDTO data, response status code and response headers
    def vendorapi_secure_merchants_vendors_edit_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_vendor_update_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureVendorManagementApi.vendorapi_secure_merchants_vendors_edit_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_edit_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_edit_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_edit_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_edit_post"
      end
      # verify the required parameter 'secure_vendor_update_request_dto' is set
      if @api_client.config.client_side_validation && secure_vendor_update_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'secure_vendor_update_request_dto' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_edit_post"
      end
      # resource path
      local_var_path = '/vendorapi/secure/merchants/vendors/edit'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(secure_vendor_update_request_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'SecureVendorResponseDTO'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureVendorManagementApi.vendorapi_secure_merchants_vendors_edit_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureVendorManagementApi#vendorapi_secure_merchants_vendors_edit_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API creates vendor into system
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param vendor_request_dto [VendorRequestDTO] VendorRequestDTO
    # @param [Hash] opts the optional parameters
    # @return [SecureVendorResponseDTO]
    def vendorapi_secure_merchants_vendors_post(x_api_key, x_app_key, x_version, origin, vendor_request_dto, opts = {})
      data, _status_code, _headers = vendorapi_secure_merchants_vendors_post_with_http_info(x_api_key, x_app_key, x_version, origin, vendor_request_dto, opts)
      data
    end

    # This API creates vendor into system
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param vendor_request_dto [VendorRequestDTO] VendorRequestDTO
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecureVendorResponseDTO, Integer, Hash)>] SecureVendorResponseDTO data, response status code and response headers
    def vendorapi_secure_merchants_vendors_post_with_http_info(x_api_key, x_app_key, x_version, origin, vendor_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureVendorManagementApi.vendorapi_secure_merchants_vendors_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_post"
      end
      # verify the required parameter 'vendor_request_dto' is set
      if @api_client.config.client_side_validation && vendor_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'vendor_request_dto' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_post"
      end
      # resource path
      local_var_path = '/vendorapi/secure/merchants/vendors'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(vendor_request_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'SecureVendorResponseDTO'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureVendorManagementApi.vendorapi_secure_merchants_vendors_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureVendorManagementApi#vendorapi_secure_merchants_vendors_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API returns list of all the Vendors of Merchant
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [String] :payment_method_type Set paymentMethodType
    # @option opts [String] :attention Set attention
    # @option opts [String] :vendor_id Set vendorId
    # @option opts [String] :vendor_name Set vendorName
    # @option opts [String] :vendor_status Set vendorStatus
    # @option opts [String] :created_by Set createdBy
    # @option opts [String] :start_date set start Date
    # @option opts [String] :end_date set end Date
    # @option opts [Integer] :page_size Set PageSize
    # @option opts [String] :search_text search Text
    # @option opts [String] :sort_field Set SortField
    # @option opts [Integer] :start_row Set StartRow
    # @option opts [Boolean] :asc Set Asc
    # @return [PageVendorResponseDTO]
    def vendorapi_secure_merchants_vendors_search_post(x_api_key, x_app_key, x_version, origin, opts = {})
      data, _status_code, _headers = vendorapi_secure_merchants_vendors_search_post_with_http_info(x_api_key, x_app_key, x_version, origin, opts)
      data
    end

    # This API returns list of all the Vendors of Merchant
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [String] :payment_method_type Set paymentMethodType
    # @option opts [String] :attention Set attention
    # @option opts [String] :vendor_id Set vendorId
    # @option opts [String] :vendor_name Set vendorName
    # @option opts [String] :vendor_status Set vendorStatus
    # @option opts [String] :created_by Set createdBy
    # @option opts [String] :start_date set start Date
    # @option opts [String] :end_date set end Date
    # @option opts [Integer] :page_size Set PageSize
    # @option opts [String] :search_text search Text
    # @option opts [String] :sort_field Set SortField
    # @option opts [Integer] :start_row Set StartRow
    # @option opts [Boolean] :asc Set Asc
    # @return [Array<(PageVendorResponseDTO, Integer, Hash)>] PageVendorResponseDTO data, response status code and response headers
    def vendorapi_secure_merchants_vendors_search_post_with_http_info(x_api_key, x_app_key, x_version, origin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureVendorManagementApi.vendorapi_secure_merchants_vendors_search_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_search_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_search_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_search_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_search_post"
      end
      allowable_values = ["Check"]
      if @api_client.config.client_side_validation && opts[:'payment_method_type'] && !allowable_values.include?(opts[:'payment_method_type'])
        fail ArgumentError, "invalid value for \"payment_method_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/vendorapi/secure/merchants/vendors/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'paymentMethodType'] = opts[:'payment_method_type'] if !opts[:'payment_method_type'].nil?
      query_params[:'attention'] = opts[:'attention'] if !opts[:'attention'].nil?
      query_params[:'vendorId'] = opts[:'vendor_id'] if !opts[:'vendor_id'].nil?
      query_params[:'vendorName'] = opts[:'vendor_name'] if !opts[:'vendor_name'].nil?
      query_params[:'vendorStatus'] = opts[:'vendor_status'] if !opts[:'vendor_status'].nil?
      query_params[:'createdBy'] = opts[:'created_by'] if !opts[:'created_by'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'searchText'] = opts[:'search_text'] if !opts[:'search_text'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'startRow'] = opts[:'start_row'] if !opts[:'start_row'].nil?
      query_params[:'asc'] = opts[:'asc'] if !opts[:'asc'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PageVendorResponseDTO'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureVendorManagementApi.vendorapi_secure_merchants_vendors_search_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureVendorManagementApi#vendorapi_secure_merchants_vendors_search_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API suspends vendor into system
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_vendor_status_request_dto [SecureVendorStatusRequestDTO] SecureVendorStatusRequestDTO
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def vendorapi_secure_merchants_vendors_suspend_post(x_api_key, x_app_key, x_version, origin, secure_vendor_status_request_dto, opts = {})
      vendorapi_secure_merchants_vendors_suspend_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_vendor_status_request_dto, opts)
      nil
    end

    # This API suspends vendor into system
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_vendor_status_request_dto [SecureVendorStatusRequestDTO] SecureVendorStatusRequestDTO
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def vendorapi_secure_merchants_vendors_suspend_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_vendor_status_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureVendorManagementApi.vendorapi_secure_merchants_vendors_suspend_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_suspend_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_suspend_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_suspend_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_suspend_post"
      end
      # verify the required parameter 'secure_vendor_status_request_dto' is set
      if @api_client.config.client_side_validation && secure_vendor_status_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'secure_vendor_status_request_dto' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_suspend_post"
      end
      # resource path
      local_var_path = '/vendorapi/secure/merchants/vendors/suspend'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(secure_vendor_status_request_dto)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureVendorManagementApi.vendorapi_secure_merchants_vendors_suspend_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureVendorManagementApi#vendorapi_secure_merchants_vendors_suspend_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API gets timeline of particular vendor
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_vendor_timeline_request_dto [SecureVendorTimelineRequestDTO] SecureVendorTimelineRequestDTO
    # @param [Hash] opts the optional parameters
    # @return [Array<VendorTimelineResponseListInner>]
    def vendorapi_secure_merchants_vendors_timeline_post(x_api_key, x_app_key, x_version, origin, secure_vendor_timeline_request_dto, opts = {})
      data, _status_code, _headers = vendorapi_secure_merchants_vendors_timeline_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_vendor_timeline_request_dto, opts)
      data
    end

    # This API gets timeline of particular vendor
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_vendor_timeline_request_dto [SecureVendorTimelineRequestDTO] SecureVendorTimelineRequestDTO
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<VendorTimelineResponseListInner>, Integer, Hash)>] Array<VendorTimelineResponseListInner> data, response status code and response headers
    def vendorapi_secure_merchants_vendors_timeline_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_vendor_timeline_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureVendorManagementApi.vendorapi_secure_merchants_vendors_timeline_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_timeline_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_timeline_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_timeline_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_timeline_post"
      end
      # verify the required parameter 'secure_vendor_timeline_request_dto' is set
      if @api_client.config.client_side_validation && secure_vendor_timeline_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'secure_vendor_timeline_request_dto' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_timeline_post"
      end
      # resource path
      local_var_path = '/vendorapi/secure/merchants/vendors/timeline'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(secure_vendor_timeline_request_dto)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<VendorTimelineResponseListInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureVendorManagementApi.vendorapi_secure_merchants_vendors_timeline_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureVendorManagementApi#vendorapi_secure_merchants_vendors_timeline_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API unsuspends vendor into system
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_vendor_status_request_dto [SecureVendorStatusRequestDTO] SecureVendorStatusRequestDTO
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def vendorapi_secure_merchants_vendors_unsuspend_post(x_api_key, x_app_key, x_version, origin, secure_vendor_status_request_dto, opts = {})
      vendorapi_secure_merchants_vendors_unsuspend_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_vendor_status_request_dto, opts)
      nil
    end

    # This API unsuspends vendor into system
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_vendor_status_request_dto [SecureVendorStatusRequestDTO] SecureVendorStatusRequestDTO
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def vendorapi_secure_merchants_vendors_unsuspend_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_vendor_status_request_dto, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureVendorManagementApi.vendorapi_secure_merchants_vendors_unsuspend_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_unsuspend_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_unsuspend_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_unsuspend_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_unsuspend_post"
      end
      # verify the required parameter 'secure_vendor_status_request_dto' is set
      if @api_client.config.client_side_validation && secure_vendor_status_request_dto.nil?
        fail ArgumentError, "Missing the required parameter 'secure_vendor_status_request_dto' when calling SecureVendorManagementApi.vendorapi_secure_merchants_vendors_unsuspend_post"
      end
      # resource path
      local_var_path = '/vendorapi/secure/merchants/vendors/unsuspend'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(secure_vendor_status_request_dto)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureVendorManagementApi.vendorapi_secure_merchants_vendors_unsuspend_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureVendorManagementApi#vendorapi_secure_merchants_vendors_unsuspend_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
