=begin
#Secure API

#Secure API

The version of the OpenAPI document: 2.3

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class SecureEmbeddedPremiumFinanceEndorsementsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # This API will do a check of eligibility of account
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param pf_check_endorsements_request [PFCheckEndorsementsRequest] PF Check Endorsement Request details
    # @param [Hash] opts the optional parameters
    # @return [PFCheckEndorsementsResponse]
    def secure_epf_endorsements_post(x_api_key, x_app_key, x_version, origin, pf_check_endorsements_request, opts = {})
      data, _status_code, _headers = secure_epf_endorsements_post_with_http_info(x_api_key, x_app_key, x_version, origin, pf_check_endorsements_request, opts)
      data
    end

    # This API will do a check of eligibility of account
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param pf_check_endorsements_request [PFCheckEndorsementsRequest] PF Check Endorsement Request details
    # @param [Hash] opts the optional parameters
    # @return [Array<(PFCheckEndorsementsResponse, Integer, Hash)>] PFCheckEndorsementsResponse data, response status code and response headers
    def secure_epf_endorsements_post_with_http_info(x_api_key, x_app_key, x_version, origin, pf_check_endorsements_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureEmbeddedPremiumFinanceEndorsementsApi.secure_epf_endorsements_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureEmbeddedPremiumFinanceEndorsementsApi.secure_epf_endorsements_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureEmbeddedPremiumFinanceEndorsementsApi.secure_epf_endorsements_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureEmbeddedPremiumFinanceEndorsementsApi.secure_epf_endorsements_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureEmbeddedPremiumFinanceEndorsementsApi.secure_epf_endorsements_post"
      end
      # verify the required parameter 'pf_check_endorsements_request' is set
      if @api_client.config.client_side_validation && pf_check_endorsements_request.nil?
        fail ArgumentError, "Missing the required parameter 'pf_check_endorsements_request' when calling SecureEmbeddedPremiumFinanceEndorsementsApi.secure_epf_endorsements_post"
      end
      # resource path
      local_var_path = '/secure/epf/endorsements'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(pf_check_endorsements_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PFCheckEndorsementsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-api-key', 'x-app-key']

      new_options = opts.merge(
        :operation => :"SecureEmbeddedPremiumFinanceEndorsementsApi.secure_epf_endorsements_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureEmbeddedPremiumFinanceEndorsementsApi#secure_epf_endorsements_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API will update PFA to book a endorsement quote.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param pf_quote_booking_request [PFQuoteBookingRequest] PFQuoteBooking Request details
    # @param [Hash] opts the optional parameters
    # @return [PFUpdatePFAResponse]
    def secure_epf_quote_endorsement_booking_put(x_api_key, x_app_key, x_version, origin, pf_quote_booking_request, opts = {})
      data, _status_code, _headers = secure_epf_quote_endorsement_booking_put_with_http_info(x_api_key, x_app_key, x_version, origin, pf_quote_booking_request, opts)
      data
    end

    # This API will update PFA to book a endorsement quote.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param pf_quote_booking_request [PFQuoteBookingRequest] PFQuoteBooking Request details
    # @param [Hash] opts the optional parameters
    # @return [Array<(PFUpdatePFAResponse, Integer, Hash)>] PFUpdatePFAResponse data, response status code and response headers
    def secure_epf_quote_endorsement_booking_put_with_http_info(x_api_key, x_app_key, x_version, origin, pf_quote_booking_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureEmbeddedPremiumFinanceEndorsementsApi.secure_epf_quote_endorsement_booking_put ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureEmbeddedPremiumFinanceEndorsementsApi.secure_epf_quote_endorsement_booking_put"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureEmbeddedPremiumFinanceEndorsementsApi.secure_epf_quote_endorsement_booking_put"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureEmbeddedPremiumFinanceEndorsementsApi.secure_epf_quote_endorsement_booking_put"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureEmbeddedPremiumFinanceEndorsementsApi.secure_epf_quote_endorsement_booking_put"
      end
      # verify the required parameter 'pf_quote_booking_request' is set
      if @api_client.config.client_side_validation && pf_quote_booking_request.nil?
        fail ArgumentError, "Missing the required parameter 'pf_quote_booking_request' when calling SecureEmbeddedPremiumFinanceEndorsementsApi.secure_epf_quote_endorsement_booking_put"
      end
      # resource path
      local_var_path = '/secure/epf/quote/endorsement/booking'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(pf_quote_booking_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PFUpdatePFAResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-api-key', 'x-app-key']

      new_options = opts.merge(
        :operation => :"SecureEmbeddedPremiumFinanceEndorsementsApi.secure_epf_quote_endorsement_booking_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureEmbeddedPremiumFinanceEndorsementsApi#secure_epf_quote_endorsement_booking_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API will do return a quote for an existing policy or new policy for an existing account
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param pf_endorsement_request [PFEndorsementRequest] PF Endorsement Request details
    # @param [Hash] opts the optional parameters
    # @return [PFEndorsementResponse]
    def secure_epf_quote_endorsement_post(x_api_key, x_app_key, x_version, origin, pf_endorsement_request, opts = {})
      data, _status_code, _headers = secure_epf_quote_endorsement_post_with_http_info(x_api_key, x_app_key, x_version, origin, pf_endorsement_request, opts)
      data
    end

    # This API will do return a quote for an existing policy or new policy for an existing account
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param pf_endorsement_request [PFEndorsementRequest] PF Endorsement Request details
    # @param [Hash] opts the optional parameters
    # @return [Array<(PFEndorsementResponse, Integer, Hash)>] PFEndorsementResponse data, response status code and response headers
    def secure_epf_quote_endorsement_post_with_http_info(x_api_key, x_app_key, x_version, origin, pf_endorsement_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureEmbeddedPremiumFinanceEndorsementsApi.secure_epf_quote_endorsement_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureEmbeddedPremiumFinanceEndorsementsApi.secure_epf_quote_endorsement_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureEmbeddedPremiumFinanceEndorsementsApi.secure_epf_quote_endorsement_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureEmbeddedPremiumFinanceEndorsementsApi.secure_epf_quote_endorsement_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureEmbeddedPremiumFinanceEndorsementsApi.secure_epf_quote_endorsement_post"
      end
      # verify the required parameter 'pf_endorsement_request' is set
      if @api_client.config.client_side_validation && pf_endorsement_request.nil?
        fail ArgumentError, "Missing the required parameter 'pf_endorsement_request' when calling SecureEmbeddedPremiumFinanceEndorsementsApi.secure_epf_quote_endorsement_post"
      end
      # resource path
      local_var_path = '/secure/epf/quote/endorsement'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(pf_endorsement_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PFEndorsementResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-api-key', 'x-app-key']

      new_options = opts.merge(
        :operation => :"SecureEmbeddedPremiumFinanceEndorsementsApi.secure_epf_quote_endorsement_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureEmbeddedPremiumFinanceEndorsementsApi#secure_epf_quote_endorsement_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
