=begin
#Secure API

#Secure API

The version of the OpenAPI document: 2.3

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class SecurePaymentBatchingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # This API is used for getting Secure Payment Batch Details
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_payment_batch_details_request [SecurePaymentBatchDetailsRequest] Secure Payment Batch Details Request
    # @param [Hash] opts the optional parameters
    # @return [Array<PaymentBatchDetailsResponse>]
    def secure_batches_details_post(x_api_key, x_app_key, x_version, origin, secure_payment_batch_details_request, opts = {})
      data, _status_code, _headers = secure_batches_details_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_payment_batch_details_request, opts)
      data
    end

    # This API is used for getting Secure Payment Batch Details
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_payment_batch_details_request [SecurePaymentBatchDetailsRequest] Secure Payment Batch Details Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<PaymentBatchDetailsResponse>, Integer, Hash)>] Array<PaymentBatchDetailsResponse> data, response status code and response headers
    def secure_batches_details_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_payment_batch_details_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurePaymentBatchingApi.secure_batches_details_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecurePaymentBatchingApi.secure_batches_details_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecurePaymentBatchingApi.secure_batches_details_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecurePaymentBatchingApi.secure_batches_details_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecurePaymentBatchingApi.secure_batches_details_post"
      end
      # verify the required parameter 'secure_payment_batch_details_request' is set
      if @api_client.config.client_side_validation && secure_payment_batch_details_request.nil?
        fail ArgumentError, "Missing the required parameter 'secure_payment_batch_details_request' when calling SecurePaymentBatchingApi.secure_batches_details_post"
      end
      # resource path
      local_var_path = '/secure/batches/details'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(secure_payment_batch_details_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PaymentBatchDetailsResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-api-key', 'x-app-key']

      new_options = opts.merge(
        :operation => :"SecurePaymentBatchingApi.secure_batches_details_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurePaymentBatchingApi#secure_batches_details_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API execute on-demand batch transaction.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_batch_execute_request [SecureBatchExecuteRequest] Payment Batch Execution Request
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def secure_batches_execute_post(x_api_key, x_app_key, x_version, origin, secure_batch_execute_request, opts = {})
      secure_batches_execute_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_batch_execute_request, opts)
      nil
    end

    # This API execute on-demand batch transaction.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_batch_execute_request [SecureBatchExecuteRequest] Payment Batch Execution Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def secure_batches_execute_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_batch_execute_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurePaymentBatchingApi.secure_batches_execute_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecurePaymentBatchingApi.secure_batches_execute_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecurePaymentBatchingApi.secure_batches_execute_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecurePaymentBatchingApi.secure_batches_execute_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecurePaymentBatchingApi.secure_batches_execute_post"
      end
      # verify the required parameter 'secure_batch_execute_request' is set
      if @api_client.config.client_side_validation && secure_batch_execute_request.nil?
        fail ArgumentError, "Missing the required parameter 'secure_batch_execute_request' when calling SecurePaymentBatchingApi.secure_batches_execute_post"
      end
      # resource path
      local_var_path = '/secure/batches/execute'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(secure_batch_execute_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-api-key', 'x-app-key']

      new_options = opts.merge(
        :operation => :"SecurePaymentBatchingApi.secure_batches_execute_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurePaymentBatchingApi#secure_batches_execute_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API is used for getting Secure Payment Batches
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :start_row Set StartRow
    # @option opts [Float] :page_size Set PageSize
    # @option opts [String] :sort_field Set SortField
    # @option opts [Boolean] :asc Set Asc
    # @return [PaymentBatchResponse]
    def secure_batches_post(x_api_key, x_app_key, x_version, origin, opts = {})
      data, _status_code, _headers = secure_batches_post_with_http_info(x_api_key, x_app_key, x_version, origin, opts)
      data
    end

    # This API is used for getting Secure Payment Batches
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :start_row Set StartRow
    # @option opts [Float] :page_size Set PageSize
    # @option opts [String] :sort_field Set SortField
    # @option opts [Boolean] :asc Set Asc
    # @return [Array<(PaymentBatchResponse, Integer, Hash)>] PaymentBatchResponse data, response status code and response headers
    def secure_batches_post_with_http_info(x_api_key, x_app_key, x_version, origin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurePaymentBatchingApi.secure_batches_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecurePaymentBatchingApi.secure_batches_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecurePaymentBatchingApi.secure_batches_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecurePaymentBatchingApi.secure_batches_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecurePaymentBatchingApi.secure_batches_post"
      end
      # resource path
      local_var_path = '/secure/batches'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'startRow'] = opts[:'start_row'] if !opts[:'start_row'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'Asc'] = opts[:'asc'] if !opts[:'asc'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentBatchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-api-key', 'x-app-key']

      new_options = opts.merge(
        :operation => :"SecurePaymentBatchingApi.secure_batches_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurePaymentBatchingApi#secure_batches_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API will returns batch timeline.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_payment_batch_details_request [SecurePaymentBatchDetailsRequest] Payment Batch Timeline Request
    # @param [Hash] opts the optional parameters
    # @return [Array<PaymentBatchEventLogResponse>]
    def secure_batches_timelines_post(x_api_key, x_app_key, x_version, origin, secure_payment_batch_details_request, opts = {})
      data, _status_code, _headers = secure_batches_timelines_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_payment_batch_details_request, opts)
      data
    end

    # This API will returns batch timeline.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_payment_batch_details_request [SecurePaymentBatchDetailsRequest] Payment Batch Timeline Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<PaymentBatchEventLogResponse>, Integer, Hash)>] Array<PaymentBatchEventLogResponse> data, response status code and response headers
    def secure_batches_timelines_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_payment_batch_details_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurePaymentBatchingApi.secure_batches_timelines_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecurePaymentBatchingApi.secure_batches_timelines_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecurePaymentBatchingApi.secure_batches_timelines_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecurePaymentBatchingApi.secure_batches_timelines_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecurePaymentBatchingApi.secure_batches_timelines_post"
      end
      # verify the required parameter 'secure_payment_batch_details_request' is set
      if @api_client.config.client_side_validation && secure_payment_batch_details_request.nil?
        fail ArgumentError, "Missing the required parameter 'secure_payment_batch_details_request' when calling SecurePaymentBatchingApi.secure_batches_timelines_post"
      end
      # resource path
      local_var_path = '/secure/batches/timelines'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(secure_payment_batch_details_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PaymentBatchEventLogResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-api-key', 'x-app-key']

      new_options = opts.merge(
        :operation => :"SecurePaymentBatchingApi.secure_batches_timelines_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurePaymentBatchingApi#secure_batches_timelines_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API cancels transactions from an active batch.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param payment_batch_cancellation_request [PaymentBatchCancellationRequest] Payment Batch Cancellation Request
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def secure_batches_transactions_cancel_post(x_api_key, x_app_key, x_version, origin, payment_batch_cancellation_request, opts = {})
      secure_batches_transactions_cancel_post_with_http_info(x_api_key, x_app_key, x_version, origin, payment_batch_cancellation_request, opts)
      nil
    end

    # This API cancels transactions from an active batch.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param payment_batch_cancellation_request [PaymentBatchCancellationRequest] Payment Batch Cancellation Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def secure_batches_transactions_cancel_post_with_http_info(x_api_key, x_app_key, x_version, origin, payment_batch_cancellation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurePaymentBatchingApi.secure_batches_transactions_cancel_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecurePaymentBatchingApi.secure_batches_transactions_cancel_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecurePaymentBatchingApi.secure_batches_transactions_cancel_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecurePaymentBatchingApi.secure_batches_transactions_cancel_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecurePaymentBatchingApi.secure_batches_transactions_cancel_post"
      end
      # verify the required parameter 'payment_batch_cancellation_request' is set
      if @api_client.config.client_side_validation && payment_batch_cancellation_request.nil?
        fail ArgumentError, "Missing the required parameter 'payment_batch_cancellation_request' when calling SecurePaymentBatchingApi.secure_batches_transactions_cancel_post"
      end
      # resource path
      local_var_path = '/secure/batches/transactions/cancel'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_batch_cancellation_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-api-key', 'x-app-key']

      new_options = opts.merge(
        :operation => :"SecurePaymentBatchingApi.secure_batches_transactions_cancel_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurePaymentBatchingApi#secure_batches_transactions_cancel_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
