=begin
#Secure API

#Secure API

The version of the OpenAPI document: 2.3

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class SecureTokenLinksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # This API is used for getting Token Links by TokenLink ID
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_token_link_request [SecureTokenLinkRequest] Secure Token Link Id Request
    # @param [Hash] opts the optional parameters
    # @return [SecureTokenLinkByIdResponse]
    def secure_tokenlinks_details_post(x_api_key, x_app_key, x_version, origin, secure_token_link_request, opts = {})
      data, _status_code, _headers = secure_tokenlinks_details_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_token_link_request, opts)
      data
    end

    # This API is used for getting Token Links by TokenLink ID
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_token_link_request [SecureTokenLinkRequest] Secure Token Link Id Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecureTokenLinkByIdResponse, Integer, Hash)>] SecureTokenLinkByIdResponse data, response status code and response headers
    def secure_tokenlinks_details_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_token_link_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureTokenLinksApi.secure_tokenlinks_details_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureTokenLinksApi.secure_tokenlinks_details_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureTokenLinksApi.secure_tokenlinks_details_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureTokenLinksApi.secure_tokenlinks_details_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureTokenLinksApi.secure_tokenlinks_details_post"
      end
      # verify the required parameter 'secure_token_link_request' is set
      if @api_client.config.client_side_validation && secure_token_link_request.nil?
        fail ArgumentError, "Missing the required parameter 'secure_token_link_request' when calling SecureTokenLinksApi.secure_tokenlinks_details_post"
      end
      # resource path
      local_var_path = '/secure/tokenlinks/details'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(secure_token_link_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SecureTokenLinkByIdResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-api-key', 'x-app-key']

      new_options = opts.merge(
        :operation => :"SecureTokenLinksApi.secure_tokenlinks_details_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureTokenLinksApi#secure_tokenlinks_details_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API expires the token link.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_token_link_request [SecureTokenLinkRequest] Secure Token Link Id Request
    # @param [Hash] opts the optional parameters
    # @return [SecureTokenLinkExpiredResponse]
    def secure_tokenlinks_expirations_post(x_api_key, x_app_key, x_version, origin, secure_token_link_request, opts = {})
      data, _status_code, _headers = secure_tokenlinks_expirations_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_token_link_request, opts)
      data
    end

    # This API expires the token link.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_token_link_request [SecureTokenLinkRequest] Secure Token Link Id Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecureTokenLinkExpiredResponse, Integer, Hash)>] SecureTokenLinkExpiredResponse data, response status code and response headers
    def secure_tokenlinks_expirations_post_with_http_info(x_api_key, x_app_key, x_version, origin, secure_token_link_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureTokenLinksApi.secure_tokenlinks_expirations_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureTokenLinksApi.secure_tokenlinks_expirations_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureTokenLinksApi.secure_tokenlinks_expirations_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureTokenLinksApi.secure_tokenlinks_expirations_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureTokenLinksApi.secure_tokenlinks_expirations_post"
      end
      # verify the required parameter 'secure_token_link_request' is set
      if @api_client.config.client_side_validation && secure_token_link_request.nil?
        fail ArgumentError, "Missing the required parameter 'secure_token_link_request' when calling SecureTokenLinksApi.secure_tokenlinks_expirations_post"
      end
      # resource path
      local_var_path = '/secure/tokenlinks/expirations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(secure_token_link_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SecureTokenLinkExpiredResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-api-key', 'x-app-key']

      new_options = opts.merge(
        :operation => :"SecureTokenLinksApi.secure_tokenlinks_expirations_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureTokenLinksApi#secure_tokenlinks_expirations_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API is used for getting all Token Links for Merchant
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [String] :email email
    # @option opts [String] :status status
    # @option opts [String] :phone phone
    # @option opts [String] :statuses statuses
    # @option opts [String] :title title
    # @option opts [String] :payment_description paymentDescription
    # @option opts [String] :invoice_number invoiceNumber
    # @option opts [String] :expiry_date expiryDate
    # @option opts [String] :from_expiry_date fromExpiryDate
    # @option opts [String] :free_text_search freeTextSearch
    # @option opts [String] :token_link_id tokenLinkId
    # @option opts [String] :to_expiry_date toExpiryDate
    # @option opts [String] :from_date fromDate
    # @option opts [String] :to_date toDate
    # @option opts [Float] :start_row Set StartRow
    # @option opts [Float] :page_size Set PageSize
    # @option opts [String] :sort_field Set SortField
    # @option opts [Boolean] :asc Set Asc
    # @return [TokenLinkResponse]
    def secure_tokenlinks_list_post(x_api_key, x_app_key, x_version, origin, opts = {})
      data, _status_code, _headers = secure_tokenlinks_list_post_with_http_info(x_api_key, x_app_key, x_version, origin, opts)
      data
    end

    # This API is used for getting all Token Links for Merchant
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [String] :email email
    # @option opts [String] :status status
    # @option opts [String] :phone phone
    # @option opts [String] :statuses statuses
    # @option opts [String] :title title
    # @option opts [String] :payment_description paymentDescription
    # @option opts [String] :invoice_number invoiceNumber
    # @option opts [String] :expiry_date expiryDate
    # @option opts [String] :from_expiry_date fromExpiryDate
    # @option opts [String] :free_text_search freeTextSearch
    # @option opts [String] :token_link_id tokenLinkId
    # @option opts [String] :to_expiry_date toExpiryDate
    # @option opts [String] :from_date fromDate
    # @option opts [String] :to_date toDate
    # @option opts [Float] :start_row Set StartRow
    # @option opts [Float] :page_size Set PageSize
    # @option opts [String] :sort_field Set SortField
    # @option opts [Boolean] :asc Set Asc
    # @return [Array<(TokenLinkResponse, Integer, Hash)>] TokenLinkResponse data, response status code and response headers
    def secure_tokenlinks_list_post_with_http_info(x_api_key, x_app_key, x_version, origin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureTokenLinksApi.secure_tokenlinks_list_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureTokenLinksApi.secure_tokenlinks_list_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureTokenLinksApi.secure_tokenlinks_list_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureTokenLinksApi.secure_tokenlinks_list_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureTokenLinksApi.secure_tokenlinks_list_post"
      end
      allowable_values = ["NA", "Created", "Completed", "Expired", "Invalidated", "Failed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/secure/tokenlinks/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'phone'] = opts[:'phone'] if !opts[:'phone'].nil?
      query_params[:'statuses'] = opts[:'statuses'] if !opts[:'statuses'].nil?
      query_params[:'title'] = opts[:'title'] if !opts[:'title'].nil?
      query_params[:'paymentDescription'] = opts[:'payment_description'] if !opts[:'payment_description'].nil?
      query_params[:'invoiceNumber'] = opts[:'invoice_number'] if !opts[:'invoice_number'].nil?
      query_params[:'expiryDate'] = opts[:'expiry_date'] if !opts[:'expiry_date'].nil?
      query_params[:'fromExpiryDate'] = opts[:'from_expiry_date'] if !opts[:'from_expiry_date'].nil?
      query_params[:'freeTextSearch'] = opts[:'free_text_search'] if !opts[:'free_text_search'].nil?
      query_params[:'tokenLinkId'] = opts[:'token_link_id'] if !opts[:'token_link_id'].nil?
      query_params[:'toExpiryDate'] = opts[:'to_expiry_date'] if !opts[:'to_expiry_date'].nil?
      query_params[:'fromDate'] = opts[:'from_date'] if !opts[:'from_date'].nil?
      query_params[:'toDate'] = opts[:'to_date'] if !opts[:'to_date'].nil?
      query_params[:'startRow'] = opts[:'start_row'] if !opts[:'start_row'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'asc'] = opts[:'asc'] if !opts[:'asc'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TokenLinkResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-api-key', 'x-app-key']

      new_options = opts.merge(
        :operation => :"SecureTokenLinksApi.secure_tokenlinks_list_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureTokenLinksApi#secure_tokenlinks_list_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API is use to create Secure Token Links
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param token_link_secure_request [TokenLinkSecureRequest] Secure Token Link Request
    # @param [Hash] opts the optional parameters
    # @return [SecureTokenLinkResponse]
    def secure_tokenlinks_post(x_api_key, x_app_key, x_version, origin, token_link_secure_request, opts = {})
      data, _status_code, _headers = secure_tokenlinks_post_with_http_info(x_api_key, x_app_key, x_version, origin, token_link_secure_request, opts)
      data
    end

    # This API is use to create Secure Token Links
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param token_link_secure_request [TokenLinkSecureRequest] Secure Token Link Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(SecureTokenLinkResponse, Integer, Hash)>] SecureTokenLinkResponse data, response status code and response headers
    def secure_tokenlinks_post_with_http_info(x_api_key, x_app_key, x_version, origin, token_link_secure_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureTokenLinksApi.secure_tokenlinks_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureTokenLinksApi.secure_tokenlinks_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureTokenLinksApi.secure_tokenlinks_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureTokenLinksApi.secure_tokenlinks_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureTokenLinksApi.secure_tokenlinks_post"
      end
      # verify the required parameter 'token_link_secure_request' is set
      if @api_client.config.client_side_validation && token_link_secure_request.nil?
        fail ArgumentError, "Missing the required parameter 'token_link_secure_request' when calling SecureTokenLinksApi.secure_tokenlinks_post"
      end
      # resource path
      local_var_path = '/secure/tokenlinks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(token_link_secure_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SecureTokenLinkResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-api-key', 'x-app-key']

      new_options = opts.merge(
        :operation => :"SecureTokenLinksApi.secure_tokenlinks_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureTokenLinksApi#secure_tokenlinks_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API will update the expireIn and paymentType of Token Link.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_token_link_update_request [SecureTokenLinkUpdateRequest] Secure Token Link Update Request
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def secure_tokenlinks_put(x_api_key, x_app_key, x_version, origin, secure_token_link_update_request, opts = {})
      secure_tokenlinks_put_with_http_info(x_api_key, x_app_key, x_version, origin, secure_token_link_update_request, opts)
      nil
    end

    # This API will update the expireIn and paymentType of Token Link.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param secure_token_link_update_request [SecureTokenLinkUpdateRequest] Secure Token Link Update Request
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def secure_tokenlinks_put_with_http_info(x_api_key, x_app_key, x_version, origin, secure_token_link_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureTokenLinksApi.secure_tokenlinks_put ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecureTokenLinksApi.secure_tokenlinks_put"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecureTokenLinksApi.secure_tokenlinks_put"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecureTokenLinksApi.secure_tokenlinks_put"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecureTokenLinksApi.secure_tokenlinks_put"
      end
      # verify the required parameter 'secure_token_link_update_request' is set
      if @api_client.config.client_side_validation && secure_token_link_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'secure_token_link_update_request' when calling SecureTokenLinksApi.secure_tokenlinks_put"
      end
      # resource path
      local_var_path = '/secure/tokenlinks'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(secure_token_link_update_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['x-api-key', 'x-app-key']

      new_options = opts.merge(
        :operation => :"SecureTokenLinksApi.secure_tokenlinks_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureTokenLinksApi#secure_tokenlinks_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
