=begin
#Secure API

#Secure API

The version of the OpenAPI document: 2.3

Generated by: https://openapi-generator.tech
Generator version: 7.9.0

=end

require 'cgi'

module OpenapiClient
  class SecurePaymentIntentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # This API expires the payment Intent or link.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param id [String] Payment Intent Id
    # @param [Hash] opts the optional parameters
    # @return [PaymentIntentExpiresResponse]
    def secure_paymentintents_expirations_post(x_api_key, x_app_key, x_version, origin, id, opts = {})
      data, _status_code, _headers = secure_paymentintents_expirations_post_with_http_info(x_api_key, x_app_key, x_version, origin, id, opts)
      data
    end

    # This API expires the payment Intent or link.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param id [String] Payment Intent Id
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentIntentExpiresResponse, Integer, Hash)>] PaymentIntentExpiresResponse data, response status code and response headers
    def secure_paymentintents_expirations_post_with_http_info(x_api_key, x_app_key, x_version, origin, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurePaymentIntentApi.secure_paymentintents_expirations_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecurePaymentIntentApi.secure_paymentintents_expirations_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecurePaymentIntentApi.secure_paymentintents_expirations_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecurePaymentIntentApi.secure_paymentintents_expirations_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecurePaymentIntentApi.secure_paymentintents_expirations_post"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SecurePaymentIntentApi.secure_paymentintents_expirations_post"
      end
      # resource path
      local_var_path = '/secure/paymentintents/expirations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentIntentExpiresResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecurePaymentIntentApi.secure_paymentintents_expirations_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurePaymentIntentApi#secure_paymentintents_expirations_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This API is use to create Secure payment Intent.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [PaymentIntentRequest] :payment_intent_request Payment Intent Request
    # @return [PaymentIntentResponse]
    def secure_paymentintents_post(x_api_key, x_app_key, x_version, origin, opts = {})
      data, _status_code, _headers = secure_paymentintents_post_with_http_info(x_api_key, x_app_key, x_version, origin, opts)
      data
    end

    # This API is use to create Secure payment Intent.
    # @param x_api_key [String] an authorization header
    # @param x_app_key [String] an authorization header
    # @param x_version [Float] x-version
    # @param origin [String] origin
    # @param [Hash] opts the optional parameters
    # @option opts [PaymentIntentRequest] :payment_intent_request Payment Intent Request
    # @return [Array<(PaymentIntentResponse, Integer, Hash)>] PaymentIntentResponse data, response status code and response headers
    def secure_paymentintents_post_with_http_info(x_api_key, x_app_key, x_version, origin, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecurePaymentIntentApi.secure_paymentintents_post ...'
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling SecurePaymentIntentApi.secure_paymentintents_post"
      end
      # verify the required parameter 'x_app_key' is set
      if @api_client.config.client_side_validation && x_app_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_app_key' when calling SecurePaymentIntentApi.secure_paymentintents_post"
      end
      # verify the required parameter 'x_version' is set
      if @api_client.config.client_side_validation && x_version.nil?
        fail ArgumentError, "Missing the required parameter 'x_version' when calling SecurePaymentIntentApi.secure_paymentintents_post"
      end
      # verify the required parameter 'origin' is set
      if @api_client.config.client_side_validation && origin.nil?
        fail ArgumentError, "Missing the required parameter 'origin' when calling SecurePaymentIntentApi.secure_paymentintents_post"
      end
      # resource path
      local_var_path = '/secure/paymentintents'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-api-key'] = x_api_key
      header_params[:'x-app-key'] = x_app_key
      header_params[:'x-version'] = x_version
      header_params[:'origin'] = origin

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'payment_intent_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentIntentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecurePaymentIntentApi.secure_paymentintents_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecurePaymentIntentApi#secure_paymentintents_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
